*{
    margin:0;
    padding:0;
    font-family: sans-serif;
    box-sizing: border-box;

    
}
body{
    background-color:aquamarine;
}
.navbar{
    width:100%;
    color:#fff;
    background-color: #535252;
    height: 70px;
    font-weight: 700;
}
.navbar .container{
    max-width: 1200px;
    margin:0px auto;
    display: flex;
    justify-content: space-between;
    line-height:70px;
}
nav{
    display:flex;
}

nav ul{
    display: flex;
    margin-right: 25px;
}

nav ul li{
    list-style: none;

}
nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 17px;
    padding:5px 20px;
    border-radius: 5px;
    transition: 0.2s;
    margin:0px 10px;
}

nav ul li a:hover{
    background-color: rgb(248, 248, 8);
}
.details{
    margin-left: 8%;
    margin-top: 8%;
}
.details h1{
    font-size: 50px;
    color:#212121;
    margin-bottom: 20px;

}
span{
    color:orange;

}

.details  p{
    color:#555;
    line-height: 22px;

}
.details a{
    background: #000;
    padding:10px 18px;

    text-decoration: none;
    font-weight: bold;
    color:#fff;
    display:inline-block;
    margin: 30px 0;
    border-radius:5px;
}

.prof{
    width:300px;
    height: 450px;
    object-fit: cover;
    border-radius: 75%;
    display: flex;
    position: absolute;
    top:105px;
    left:705px;
}
.prof img{
    height: 300px;
    width: 300px;
    border: 2.5px solid black;
    border-radius: 75%;
}
i{
    position: relative;
    border:2px ;
    padding:10px;
    border-radius: 50 ;
    color:#0ef;
    
    
    margin:0px 8px;

    transition:0.3ms;

}
i:hover{
    box-shadow: 0 0 20 #0ef;

}


.m1{
    color: white;
}

.part1{
    animation:part1 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}

.part2{
    animation:part1 1s ease forwards;
    animation-delay: 2s;
    opacity: 0;
}

@keyframes part1{
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        opacity:1;
    }

}

@keyframes part2{
    0%{
        transform: translateY(100px);
        opacity: 0;

    }
    100%{
        transform: translateY(0);
        opacity:1;
    }


}

.blur{
    height:100vh;
    background-image: url("../imm/Capture.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter:blur(4px);
}


